<div class="section">
    <div class="card">
        <h1>投稿一覧</h1>
        <%= @lists.each do |list| %>
        <div class="row">

            <div class="column">
                <h2>タイトル</h2>
                <span><%= list.title %></span>
            </div>

            <div class="column">
                <h3>内容</h3>
                <span><%= list.body %></span>
            </div>
        </div>
    <% end %>
</div>
</div>