/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Asagiri npm/CDN */
@import "https://cdn.jsdelivr.net/npm/asagiri@0.1.1/css/main.min.css";

:is(h1, h2, h3, h4, h5, h6) {
  letter-spacing: 0.02em;
  font-feature-settings: "palt" 1;
}

.section {
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  place-items: center;
  padding: 2% 2% 4%;
  border-radius: 0.5em;
  box-shadow: 0 0 1rem #eee;
  background-color: #fff;
}

.column + .column {
  margin-bottom: 2vh;
}
